body {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
  }
  .container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
  header {
    background-color: #da101090;
    color: #fff;
    padding: 10px 0;
    text-align: center;
  }
  nav ul {
    list-style: none;
  }
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  .section {
    padding: 50px 0;
    text-align: center;
  }
  #about, #experience, #portfolio, #contact {
    background-color: #f4f4f4;
  }
  #portfolio {
    min-height: 300px;
  }
  
 img {
    max-width: 100%;
    height: auto;
    display: block;
}

.portfolio1 {
    width: 75%;
    height: auto;
}

  .aligncolor {
    text-align: center;
  }
  .center {
    text-align: center;
  }
